*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr{
  margin: 50px 0;
}

h2{
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-family: "Montserrat Underline";
}

.headBg{
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.mainTitle{
  font-family: "Playwrite GB J Guides";
  font-size: 70px;
}

.innerCont{
  margin: 10px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li:nth-child(even){
  background-color: rgba(211, 211, 211, 0.288);
}

.headBg{
  background-color: aquamarine;
  width: 100%;
  padding: 20px;
}

.listItem{
  display: flex;
}

.innerCont{
  width: calc(100% / 4);
  flex-wrap: nowrap;
}

.comp{
  background-color: greenyellow ;
}
.backlog{
  background-color: yellow ;
}
.progress{
  background-color: red ;
}

.status{
  padding: 8px;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 10px 10px 12px rgba(173, 173, 173, 0.767);
}
